.wrapper{
  width: 400px;
  border: 1px solid gray;
  border-radius: 8px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.wrapperForm{
  display: flex;
  flex-direction: column;
  row-gap: 14px;
}
.title{
  text-align: center;
  font-size: 28px;
}