.wrapper{
  width: 260px;
  height: 320px;
  border-radius: 8px;
  border: 1px solid gray;
  padding: 10px;
}

.wrapper h3{
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px;
}
.wrapper p{
  font-size: 16px;
}