.btn{
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

.bgRed{
  background-color: darkred;
  color: white;
}
.bgPrimary{
  background-color: darkblue;
  color: white;
}